# General system files
*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db

# Secrets & environment files
.venv/
*.env
*.env.*
secrets/
**/secrets/
**/credentials.json
*.key
*.pem
id_rsa
id_rsa.pub

# Backup archives and dumps
*.tar
*.tar.gz
*.zip
*.gz
*.7z
*.bak
backups/
**/backups/

# Python
__pycache__/
*.pyc

# Temporary tooling files
.cache/
tmp/

# Temporary files
tmp/
temp/

#database files
*.db
*.sqlite
*.sqlite3

#Config files
configs/ingestion_config.json

#Sandbox test files
sandbox/